@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.logo-container {
  flex: 1;
}

.logo {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  color: #3e02f4;
  font-style: bold;
  text-shadow: 1px 1px 1px rgba(55, 7, 228)
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: 100vh;
  margin-top: 50px;
  color: white;
}

.content-container {
  margin-left: 0px;
}

.featured-content {
  height: 50vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {

  background: linear-gradient(90deg,#000000,#3500D3);
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  outline: solid 0.5px transparent;
  margin: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.featured-button:hover{
  cursor: pointer;
  box-sizing: border-box;
  outline: 1px solid #3500D3;
}


.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

a {
  text-decoration: none;
  color: #ffffff;
}
.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}
.blog-card-container{
  padding: 0 20px;
}
.blog-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.main-blog-card{
  height: 250px;
  width: 95%;
  max-width:900px;
  margin:auto;
  margin-bottom: 20px;
  background: #151515;
  border-radius: 25px;
  box-shadow: 0 10px 15px rgba(55, 7, 228);
}
.main-blog-card:hover {
  transform: translate3D(0,-1px,-1px) scale(1.01);
  transition: all 0.2s  ease;
}

.main-blog-card .blog-summary{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}


.blog-summary .blog-card-img{
  height:160px;
  width: 160px;
  overflow: hidden;
  flex-shrink: 0;
  border-radius:20px;
  box-shadow: 2px 3px 15px rgb(55, 7, 228);

}

.blog-card-img img{
 height: 100%;
 width: 100%;
 object-fit: cover;
 cursor: pointer;
 
}

.blog-content{
  padding: 0 ;
  width:550px;
  margin-left:50px;
  overflow: hidden;

}

.blog-content span{
  display:inline-block;
  color:white;
  margin-bottom: 5px;
  font-size: 10px;
  font-weight: bold;
  
}

.blog-content .blog-title{
  font-size: 9px;
  font-weight: 700;
  color: white;
  overflow: hidden;
  margin-bottom: 10px;
  text-overflow: hidden;

}

.blog-content .blog-details{
  font-size: 15px;
  color: white;
  list-style: inside;
  text-align: justify;
  overflow: hidden;

}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}